body {
    margin: 0px;
    background-color: #282a36;
    color: #f8f8f2;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #282a36; /* or add it to the track */
}

/* Add a thumb */
body::-webkit-scrollbar-thumb {
    background: #44475a;
}

#container {
    margin-left: 30px;
    margin-top: 10px;
}

textarea {
    width: 80vw;
    height: 20vh;
    border: none;
    resize: none;
    background-color: #21222C;
    color: #f8f8f2;
}

.br {
    margin-bottom: 20px;
}

.unrec{
    color: #ff5555;
}

.warn{
    color: #ff5555;
    font-size: large;
    font-weight: bold;

}

.rec{
    color: #6272a4;
    font-size: smaller;
}

#ex {
    color: steelblue;
    cursor: pointer;
}

.btn {
    border: transparent;
    background-color: #21222C;
    color: #dfe6e9;
    height: 30px;
    margin-top: 5px;
    width: 100vw;
}

.btn2 {
    border: transparent;
    background-color: #21222C;
    color: #dfe6e9;
    height: 30px;
    width: 25vw;
    margin-right: 5px;
}

#apply {
    margin-top: 30px;
}

.invisible{
    visibility: hidden;
    position: absolute;
    height: 0px;
    width: 0px;
}