body {
    margin: 0px;
    background-color: #121212;
    color: #dfe6e9;
    overflow-x: hidden;
    overflow-y: hidden;
}

.area{
    width: 90vw;
    background-color: #ffffff10;
    color: #dfe6e9;
    font-size: 20px;
    border: 10px;
}


#editor{
    border: solid 1px;
    width: 90vw;
    font-size: 24px;
    height: 90vh;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: auto;
    resize: none;
    background-color: #121212;

    border: solid 1px dimgrey;
    color: #dfe6e9;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #2f3542;
}
::-webkit-scrollbar-track {
    background-color: dimgrey;
}

#header{
    border: solid 1px dimgrey;
    height: calc(10vh - 2px);
}

#files{
    border: solid 1px dimgrey;
    width: 10vw;
    height: calc(90vh - 2px);
}

#container {
	display: flex;
    justify-content: center;
	/* display: inline-flex; */
}

#info{
    margin-left: 10px;
}